In [1]:
import pandas as pd

In [ ]:

df=pd.read_csv("/content/SAMPLEIDS.csv")
(df)

In [ ]:
df.dropna(axis=0)

In [ ]:
df.dropna(axis=1)

In [ ]:
df2=df[df['TOTAL']>270]
df2

In [ ]:
df2=df[df['NAME'].str.startswith(('B','D'))& (df['TOTAL']>250)]
df2
df.iloc[:4]

In [ ]:
df.iloc[0:4,1:4]
df.iloc[[1,3,5],[1,3]]

In [ ]:
dff=df.fillna(0)
dff

In [ ]:
df['TOTAL'].fillna(value=df['TOTAL'].mean())

In [ ]:
df.fillna(method='ffill')

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
age=[1,3,28,27,25,92,30,39,40,50,26,24,29,94]
af=pd.DataFrame(age)
af
age
sns.boxplot(data=af)

In [ ]:
sns.scatterplot(data=af)

In [ ]:
q1=af.quantile(0.25)
q2=af.quantile(0.5)
q3=af.quantile(0.75)
iqr=q3-q1
iqr

In [ ]:
Q1=np.percentile(af,25)
Q3=np.percentile(af,75)
IQR=Q3-Q1
IQR

In [ ]:
lower_bound=Q1-1.5*IQR
upper_bound=Q3+1.5*IQR
lower_bound
upper_bound

In [ ]:
outliers=[x for x in age if x < lower_bound or x > upper_bound]
print("Q1 :",Q1)
print("Q3 :",Q3)
print("IQR :",IQR)
print("lower_bound :",lower_bound)
print("Upper_bound :",upper_bound)
print("Outliers :",outliers)

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
age=[1,3,28,27,25,92,30,39,40,50,26,24,29,94]
af=pd.DataFrame(age)
Q1=np.percentile(af,25)
Q3=np.percentile(af,75)
IQR=Q3-Q1
lower_bound=Q1-1.5*IQR
upper_bound=Q3+1.5*IQR
af=af[((af>=lower_bound)&(af<=upper_bound))]
af

In [ ]:
mean=np.mean(data)
std=np.std(data)
print('mean of the data is ',mean)
print('std devietion is ',std)

threshold=3
outlier=[]
for i in data:
z=(i-mean)/std
if z>threshold:
    outlier.append(i)
print("outlier of dataset is",outlier)